/* 
Color Scheme: https://www.colorcombos.com/color-scheme-375.html 
#F1433F | #F7E967 | #A9CF54 | #70B7BA | #3D4C53
*/

/* || GLOBAL || */

/* <h#> */

h1 {
	color: #f1433f;
	border-bottom: 3px solid #f7e967;
}

h2 {
	color: #a9cf54;
}

/* || HEADER || */

header .container {
	position: relative;
	color: white;
	padding-top: 25px;
	background-color: #70b7ba;
	border-bottom: 8px solid #3d4c53;
	box-shadow: 0 20px 20px -20px #333;
	margin-bottom: 30px;
}

#gallivant-logo {
	width: 30%;
}

/* || NAV || */

nav {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.nav-link {
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

#nav-home {
	padding-right: 25px;
}

#nav-contact {
	padding-right: 50px;
}

/* Header: Links */
header .container a:link {
	color: white;
}
header .container a:hover {
	color: #f1433f;
}
header .container a:visited {
	color: white;
}

/* || BODY || */

body {
	color: #3d4c53;
	background-color: whitesmoke;
}

/* || WRAPPER || */

#wrapper {
	margin: 35px;
	/* Footer's distance from bottom of wrapper */
	margin-bottom: 180px;
}

/* || SEARCH BAR || */

#search-bar {
	padding: 15px;
	float: left;
	width: 25%;
}

input[type="submit"] {
	color: white;
	background-color: #70b7ba;
	border: 1px solid #3d4c53;
	padding: 12px;
}

/* || CONTENT || */

#content-container {
	padding: 15px;
	float: right;
	width: 75%;
	/* Footer's distance from bottom of container */
	margin-bottom: 100px;
}

#logo-container {
	text-align: center;
}

#gallivant-logo-bg {
	width: 50%;
}

/* CONTACT */

#contact-info {
	float: left;
	width: 70%;
}

#logo-container-contact {
	float: right;
	width: 30%;
	text-align: center;
}

#contact-form-container {
	clear: both;
	margin-bottom: 35px;
	float: none;
}

#contact-form #name,
#email {
	width: 20%;
}

#contact-form #message {
	width: 50%;
	height: 250px;
}

#contact-info-details {
	float: none;
}

input[type="reset"] {
	color: white;
	background-color: #70b7ba;
	border: 1px solid #3d4c53;
	padding: 12px;
}

/* Contact: Links */
#contact-info-details a:link {
	color: #3d4c53;
}
#contact-info-details a:hover {
	color: #f1433f;
}
#contact-info-details a:visited {
	color: #3d4c53;
}

/* || FOOTER || */
footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: white;
	padding: 25px 15px 25px;
	background-color: #70b7ba;
	border-top: 8px solid #3d4c53;
	box-shadow: 0 20px 20px 20px #333;
}

/* Footer: Links */
footer a:link {
	color: white;
}
footer a:hover {
	color: #f1433f;
}
footer a:visited {
	color: white;
}

/* || MEDIA QUERIES || */

@media screen and (max-width: 1024px) {
	/* Laptops */
}

@media screen and (max-width: 768px) {
	/* Tablets */
	#search-bar {
		float: none;
		width: 100%;
	}

	#content-container {
		float: none;
		width: 100%;
	}
	#nav-contact {
		padding-right: 35px;
	}
}

@media screen and (max-width: 640px) {
	/* Phones */
	header {
		text-align: center;
	}
	header .container {
		position: static;
	}

	#gallivant-logo {
		width: 70%;
	}

	nav {
		float: none;
		position: relative;
		right: 0;
	}

	.nav-link {
		padding-right: 7px;
	}

	#nav-contact {
		padding-right: 0px;
		padding-left: 7px;
	}

	#contact-info {
		float: nonw;
		width: 100%;
	}

	#logo-container-contact {
		float: none;
		width: 100%;
	}

	#contact-form #name,
	#email {
		width: 100%;
	}

	#contact-form #message {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	/* Older Phones */
}
