/* 
Color Scheme: https://www.colorcombos.com/color-scheme-375.html 
#F1433F | #F7E967 | #A9CF54 | #70B7BA | #3D4C53
*/

/* || GLOBAL || */

html {
	height: 100%;
}

/* <h1> */

h1 {
	color: #f1433f;
	border-bottom: 3px solid #f7e967;
	margin-bottom: 25px;
}

h2 {
	color: #a9cf54;
}

/* || HEADER || */

header .container {
	position: relative;
	color: white;
	padding-top: 25px;
	background-color: #70b7ba;
	border-bottom: 8px solid #3d4c53;
	box-shadow: 0 20px 20px -20px #333;
	margin-bottom: 30px;
}

#gallivant-logo {
	width: 30%;
}

/* || NAV || */

nav {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.nav-link {
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

#nav-home {
	padding-right: 15px;
}

#nav-contact {
	padding-right: 50px;
	border-left: 1px solid white;
	padding-left: 15px;
}

/* Header: Links */
header .container a:link {
	color: white;
}
header .container a:hover {
	color: #f1433f;
}
header .container a:visited {
	color: white;
}

/* || BODY || */

body {
	height: 100%;
	margin: 0;
	color: #3d4c53;
	background-color: whitesmoke;
	flex-direction: column;
}

/* || WRAPPER || */

#wrapper {
	min-height: 100%;
	margin: 15px;
}

/* || SEARCH BAR || */

#search-bar {
	padding: 25px;
	float: left;
	width: 25%;
}

input[type="submit"] {
	color: white;
	background-color: #70b7ba;
	border: 1px solid #3d4c53;
	padding: 12px;
}

/* || CONTENT || */

#content-container {
	padding: 25px;
	float: right;
	width: 75%;
}

#logo-container {
	text-align: center;
}

#gallivant-logo-bg {
	width: 50%;
}

/* CONTACT */

#contact-info {
	padding: 25px;
	float: left;
	width: 70%;
}

#logo-container-contact {
	float: right;
	width: 30%;
	text-align: center;
}

#contact-form-container {
	clear: both;
	margin-bottom: 35px;
	float: none;
	padding: 25px;
}

#contact-form #name,
#email {
	width: 20%;
}

#contact-form #message {
	width: 50%;
	height: 250px;
}

#contact-info-details {
	padding: 25px;
	float: none;
	letter-spacing: 2px;
	text-align: left;
	line-height: 26px;
}

#contact-info-details hr {
	max-width: 250px;
	margin: -14px 0px 5px;
}

#contact-info-details b {
	font-size: 20px;
}
#contact-info-details i {
	font-size: 18px;
}

input[type="reset"] {
	color: white;
	background-color: #70b7ba;
	border: 1px solid #3d4c53;
	padding: 12px;
}

/* Contact: Links */
#contact-info-details a:link {
	color: #3d4c53;
}
#contact-info-details a:hover {
	color: #f1433f;
}
#contact-info-details a:visited {
	color: #3d4c53;
}

/* || FOOTER || */

footer {
	clear: both;
	text-align: center;
	width: 100%;
	color: white;
	padding: 25px 15px 25px;
	background-color: #70b7ba;
	border-top: 8px solid #3d4c53;
	box-shadow: 0 20px 20px 20px #333;
	font-size: small;
}

/* Footer: Links */
footer a:link {
	color: white;
}
footer a:hover {
	color: #f1433f;
}
footer a:visited {
	color: white;
}

#footer-contact {
	font-size: large;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer-contact a {
	border-left: 1px solid white;
	padding-left: 7px;
}

/* || MEDIA QUERIES || */

@media screen and (max-width: 1024px) {
	/* Laptops */
}

@media screen and (max-width: 768px) {
	/* Tablets */
	#search-bar {
		float: none;
		width: 100%;
	}
	#gallivant-logo-bg {
		width: 70%;
	}
	#content-container {
		float: none;
		width: 100%;
	}
	#nav-contact {
		padding-right: 35px;
	}
	#footer-contact {
		letter-spacing: 2px;
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 640px) {
	/* Phones */
	header {
		text-align: center;
	}
	header .container {
		position: static;
	}
	#gallivant-logo {
		width: 70%;
	}
	#gallivant-logo-bg {
		width: 100%;
	}
	nav {
		float: none;
		position: relative;
		right: 0;
	}
	.nav-link {
		padding-right: 7px;
	}
	#nav-contact {
		padding-right: 0px;
		padding-left: 7px;
		border: none;
	}
	#contact-info {
		float: nonw;
		width: 100%;
	}
	#logo-container-contact {
		float: none;
		width: 80%;
		margin: auto;
	}
	#contact-form #name,
	#email {
		width: 100%;
	}
	#contact-form #message {
		width: 100%;
	}
	#footer-contact {
		letter-spacing: 1px;
		margin-bottom: 10px;
	}
	#footer-contact a {
		border-left: none;
		padding-left: 0px;
	}
}

@media screen and (max-width: 320px) {
	/* Older Phones */
}
